

html {
	font-family: 'arial', sans-serif;
	font-size: 20px;
	padding: 0;
	margin: 0;
	color: black;
}
article, aside, footer, header, hgroup, main, nav, section {
display: block;
}
/*Found this cool polka dot design on a CSS tutorial*/
body {
	margin: 0; padding: 0; text-align: center;
	background: radial-gradient(circle, black 10%, transparent 10%),
	radial-gradient(circle, white 10%, grey 10%) 50px 50px;
	background-size:100px 100px;
}
 .page-wrapper {width: 647px; margin: 75px auto 0; padding: 0;
  position: relative; text-align: left;}

/*#navigation {
  position: absolute;
  left: 50px;
  width: 200px;
}*/

#main {
  max-width: 600px;
  margin: 0 auto; 
}



/*Headings*/
header {
    background: grey;
	background-size:100px 100px;
}

/*Downloaded this font from Google Fonts*/
h1 	{
	font-family: 'Josefin Slab', serif;
	background:grey; 
	color:yellow; 
	font-weight: bolder;
	font-size: 70px;
	display:inline-block; 
	margin-bottom: 5px; 
	padding: 5px 5px;
	margin-top: 5px;
}
	

h2 {
	font-family: 'Josefin Slab', serif;
    color: red;
    text-align: center;
	font-size: 100px;
	font-weight: bolder;
    background: grey;
	width: 10;
	padding: 0;
	margin: 0;
}

h3  {
	font-family: 'Josefin Slab', serif;
	font-weight: 900;
	letter-spacing: 4px;
	text-transform: uppercase;
    color: limegreen;
    background: grey;
	display: inline-block;
	margin-bottom: 1em;
	padding: 0.5em 1em;
	border-style: solid;
    border-width:thin medium thick 20px;
	
}

/* Main content*/
.summary p{
	display: inline;
}
.preamble, .explanation, .participation, .benefits, .requirements {
  border-left: 1px solid rgb(184,214,194);
  padding-top: 1px; padding-bottom: 1px;
  text-align: justify;}

.preamble p, .supporting p {font-size: 90%; line-height: 1.66em;
   margin: 0 1.5em; padding: 0.5em 0;}

/*End Main content*/

/* Links to other CSS Zen Garden sites*/

div {
	display: block;
}
.selection 
{
position: absolute;
left: 5%;
top: 30em;
}

::selection {
	background: #333;
	color: #fff;
}
.sidebar {
position: absolute;
left: 200px;
top: 0px;
width: 263px;
}

.sidebar .design-selection {
	margin-left: 463px;
	margin-bottom: 200px;
	padding: 10px;
	padding-left: 20px;
	padding-bottom: 0;
}


.sidebar .design-selection li a:link
{

	font-size: 20px;
	color: #cf6;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 2px 4px;
}

.sidebar .design-selection li a:hover
{

	font-size: 20px;
	color: #f60;
	text-decoration: none;
	display: block;
	padding: 2px 4px;
	border-width: 0;
}

.sidebar  .design-selection li a:visited
{

	font-size: 20px;
	color: #5bbb11;
	text-decoration: none;
	display: block;
	padding: 2px 4px;
}

.sidebar .design-selection ul li .designer-name
{

	font-size: 20px;
	color: red;
	font-style: italic;
	text-decoration: none;
	text-transform: none;
	display: inline;
	padding: 2px 4px;
}

.sidebar li a:link
{
	color: #cf6;
	text-decoration: none;
	text-transform: uppercase;
	padding: 2px 4px;
}

.sidebar li a:hover
{
	color: #f60;
	text-decoration: none;
	text-transform: uppercase;
	padding: 2px 4px;
	border-width: 0;
}

.sidebar li a:visited
{
	color: #5bbb11;
	text-decoration: none;
	text-transform: uppercase;
	padding: 2px 4px;
}

	
.design-archives{
	margin-bottom: 50px;
	line-height: 1.5;
	position: absolute;
	top: 900px;
	right: 480px;
}


.zen-resources  {
	
	margin-bottom: 50px;
	line-height: 1.5;
	position: absolute;
	right: 480px;
	
}



p {
    font-family: "ariel", sans-serif;
    font-size: 20px;
	color: black;
	padding: 0;
	margin: 0;
	text-align: justify;
	background: grey;
}

footer {
  font-size:20px;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background: transparent;
  width: 100%;
}

/* LINKS */

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #cf6;
	text-decoration: blink;
}

/* selected link */
a:active {
    color: green;
}